name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Check deployed version
        run: |
          [ "$GITHUB_REF_NAME" == "v$(uv version --short)" ]
  tests:
    needs: check_version
    uses: ./.github/workflows/tests.yml
  deploy:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build package
        run: uv build
      - name: Publish package  # Could use uv publish instead?
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
